# HELP linux_software_compliance Software compliance status
# TYPE linux_software_compliance gauge
{% for item in software_results %}
linux_software_compliance{name="{{ item.name }}", required_version="{{ item.required_version }}", installed_version="{{ item.installed_version }}"} {% if item.compliant %}1{% else %}0{% endif %}

{% endfor %}

# HELP linux_software_compliance_summary Summary of software compliance status
# TYPE linux_software_compliance_summary gauge
linux_software_compliance_summary{status="compliant"} {{ compliant_count }}
linux_software_compliance_summary{status="non_compliant"} {{ non_compliant_count }}
linux_software_compliance_summary{status="missing"} {{ missing_count }}

# HELP linux_system_compliance_status Overall system compliance status
# TYPE linux_system_compliance_status gauge
linux_system_compliance_status{type="software_compliant"} {{ compliant_count }}
linux_system_compliance_status{type="software_non_compliant"} {{ non_compliant_count }}

linux_system_compliance_status_combined{software_compliant="{{ compliant_count }}",software_non_compliant="{{ non_compliant_count }}",software_missing="{{ missing_count }}"} 1
